<html lang="en" class="js"><head>
    <meta charset="utf-8">
    <title>SobMedyda - Jingles para decolar seus produtos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Somos um estúdio de gravação especializados em jingles, spots e vinhetas. Criamos perfis autorais exclusivos para sua marca, produtos ou campanhas decolarem por meio da música.">
    <meta name="author" content="SobMedyda">
    <meta name="keywords" content="jingles, spots, vinhetas, estudio de gravação, gravar música" >

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
    <!-- Le styles -->
    <link href="{{ STATIC_URL }}assets/less/style.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}assets/css/custom.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav  -->

    <link rel="shortcut icon" href="{{ STATIC_URL }}assets/ico/favicon.png">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
    if (typeof jQuery == 'undefined') {
      document.write(unescape("%3Cscript src='{{ STATIC_URL }}assets/js/jquery-1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
    </script>

    <!-- Main js fail. -->
 
    <script src="{{ STATIC_URL }}assets/js/main.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/soundcloud.player.api.js"></script>
    <script type="text/javascript">
         soundcloud.addEventListener('onPlayerReady', function(player, data) {
           player.api_play();
         });
    </script>    
 

    <script>

    $(document).ready(function(){
        $('.scroll[href^="#"]').on('click',function (e) {
            e.preventDefault();

            var target = this.hash,
            $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 900, 'swing', function () {
                window.location.hash = target;
            });
        });
    });

        // History, and back button

    $(function() {
    jQuery.history.listen()
      $('#nav .nav .scroll').click(function() {
      $.history.push('index.html' + $(this).attr('href')); 
      });
    });
    </script>
  </head>

  <!-- activate scrollspy -->
  <body id="top" data-spy="scroll" data-target=".navbar" data-offset="50" style="height: 0;">
       <!-- Nav button -->
      <a id="toggle" class="closed" aria-hidden="true">
        <i class="icon-reorder"></i>
      </a>

      <!-- Navigation -->
      <header class="navbar navbar-fixed-top">
        <div class="inner-page">
            <div id="nav" class="closed" aria-hidden="false" style="-webkit-transition: max-height 400ms; transition: max-height 400ms; position: relative;">
              <ul class="nav">
                <li class="active"><a title="Home page" class="scroll brand-1" href="#home" style="color: #fff;">Home</a></li>
                <li><a title="Check out our awesome services" href="#features" class=" scroll brand-4">Por que?</a></li>
                <li><a title="Themes assets" href="#assets" class="scroll brand-3">Portfólio</a></li>
                <li><a title="Who we are" href="#about" class="scroll fadeto brand-4"> Quem somos</a></li>
                <li><a title="Vamos conversar!" href="#contact" class="scroll brand-2">Contato</a></li>
              </ul>
            </div>
        </div> 
      </header>
      
      <!-- Home Page -->
      <div id="home" class="page color-1">
        <h1 class="logo"><img src="{{ STATIC_URL }}assets/img/logo.png" /></h1>
        <div class="inner-page">
          <h2 class="page-headline large">A inspiração para viralizar sua empresa</h2>
        </div>  
        <div class="row-fluid inner-page">
          <div class="span7 pull-right" style="padding-top: 60px;">
          {{ jingle_header|safe }}
          </div>
          <div class="span5 pull-right">
            <ul class="big-list">
              <li><i class="icon-ok"></i> Perfis autorais</li>
              <li><i class="icon-resize-small"></i> Feito para sua empresa</li>
              <li><i class="icon-rocket"></i> Resultados agressivos</li>
              <li><i class="icon-heart"></i> Criado com amor</li>
            </ul>
            <br>
            <a href="#features" title="Check out more freatures!" class="scroll btn btn-centered"><i class="icon-caret-down"></i> Aprenda mais</a>
          </div>
        </div>
      </div>

      <!-- Sign up -->
      <div class="sign-up color-2 visible-desktop">
        <div class="row-fluid inner-page">
          <div class="span12">
            <h4 class="pull-left">Entenda como os jingles podem alavancar seus produtos e mudar a sua história.</h4>
          </div>
        </div>
      </div>

      <!-- Features -->
      <div id="features" class="page color-4">
        <div class="inner-page">
          <h2 class="page-headline">Por que sua empresa deve escolher um jingle</h2>
        </div>

        <div class="inner-page row-fluid">
          <ul class="features list-inline">
            <li>
              <h3><i class="icon-thumbs-up"></i>  Baixo custo</h3>
              <p>Obtenha resultados a curto-prazo. Os jingles é uma das melhores opções de divulgação com as características cognitivas que marcam sua campanha.</p>
            </li>
            <li>
              <h3><i class="icon-group"></i> Forte impacto</h3>
              <p> Registre seu protudo no inconsciente coletivo por meio da música feita para seu produto. A música que "gruda" e torna seu produto inesquecível.</p>
            </li>
            <li>
              <h3><i class="icon-rocket"></i> Decole mais alto </h3>
              <p><strong>Na memória</strong>. Sua empresa recebe a música customizada e licenciada para ser usada em múltiplos veículos de comunicação .</p>
            </li>
            </ul>
        </div>
                         
        <div class="row-fluid inner-page">
          <div class="span6 lazy-container loaded" style="margin-top: -20px;">
            <img class="figurette lazy" src="{{ STATIC_URL }}assets/img/feedback-loop.png" data-original="{{ STATIC_URL }}assets/img/feedback-loop.png" alt="Zombie ipsum" style="display: inline;">
          </div>
          <div class="span6">           
            <h3>Vamos criar juntos!</h3>
            <p class="lead">Nosso processo criativo é <i>cíclico</i>, repetitivo até alcançarmos o resultado esperado.</p>
            <ul class="list-wide">
              <li><i class="icon-check"></i> Entendimento pleno da demanda </li>
              <li><i class="icon-check"></i> Inspiração & Transpiração</li>
              <li><i class="icon-check"></i> Criar, Mensurar, Aprovar </li>
              <li><i class="icon-check"></i> 100% satisfação</li>
            </ul>         
          </div>
        </div>

        <!-- Video
        <hr>

         
        <div class="row-fluid inner-page">
          <div class="span6 pull-right">
            <div class="btn-container figurette">
              <img src="assets/img/video.png" alt="Play video">
               <a class="lightbox iframe btn-play" target="_blank" href="http://vimeo.com/61693087"><i class="icon-play"></i></a>
            </div>
          </div>
          <div class="span6 pull-right">
              <ul class="big-list">
                <li><i class="icon-ok"></i> Always latest bootstrap</li>
                <li><i class="icon-play"></i> Responsive video</li>
                <li><i class="icon-resize-full"></i> Adaptive, smart lightbox</li>
                <li><i class="icon-desktop"></i> All modern browsers supported</li>
              </ul>
            <br>
            <a href="#download" class="scroll btn btn-centered"><i class="icon-plus"></i> Even more features</a>
          </div>
        </div>
      </div>
    -->
      <!-- /Features --> 


       <!-- Assets page -->
      <div id="assets" class="page color-3">
          <div class="inner-page">
            <h2 class="page-headline">Portfólio & Clientes</h2>
          </div>

        <!-- Vectors 
        <div class="row-fluid inner-page">
          <div class="span6 lazy-container loaded">
            <img class="figurette lazy" alt="Original vectors" src="{{ STATIC_URL }}assets/img/responsive-vectors.png" data-original="{{ STATIC_URL }}assets/img/responsive-vectors.png" style="display: inline;">
          </div>
          <div class="span6">
            <h3>5 vectors included</h3>
            <p class="lead">Zombie ipsum <abbr title="HyperText Markup Language" class="initialism">HTML</abbr> reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis.</p>
            <p> The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro.. </p>
          </div>
        </div> /vectors -->

        <hr>

        <!-- Big laptop -->
        <div class="row-fluid inner-page">
          <div class="offset1 span10">
            <div class="lazy-container lazy-large btn-container loaded">
                <div class="inner-page row-fluid">
                  <h2>Confira os últimos trabalhos</h2><br />
                  <div class="row">
                    <ul class="soundcloud">
                      {% for jingle in jingles_mini_list %}
                      <li>
                        <iframe width="100%" height="80" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?show_comments=false&show_artwork=false&show_user=false&url={{ jingle }}"></iframe>
                      </li>
                      {% endfor %}
                    </ul>                     
                  </div>    
                </div>
            </div>
          </div>
        </div>
      </div>


      <!-- About page -->
      <div id="about" class="page color-4">
        <div class="inner-page">
          <h2 class="page-headline">Quem somos e como tudo começou. Nossa história.</h2>
        </div>
        <div class="row-fluid inner-page">
          <div class="span6  lazy-container loaded">
              <img class="figurette lazy" src="{{ STATIC_URL }}assets/img/green-office.png" data-original="{{ STATIC_URL }}assets/img/green-office.png" alt="Our workspace" style="display: inline;">
          </div>
          <div class="span6">
            <h3>A música é nossa alma.</h3>
            <p class="lead">A paixão que vem de base familiar. Nosso engajamento musical é a principal causa de nossa existência.</p>
            <p>O nosso objetivo é criar e produzir perfis autorais onde a música super-valorize a marca. Sempre privilegiando aquela velha máxima onde <i>"a música é a linha mais tênue entre o produto e o público"</i>. Sobmedyda Jingles tem como objetivo consolidar essa união.</p>
          </div>
        </div>

        <hr>

        <!-- Team -->
        <div class="row-fluid inner-page team">
          <div class="span4">
            <img class="pull-left" src="{{ STATIC_URL }}assets/img/founder_lucas.png" alt="Produtor Musical">
            <h4>Lucas Lima</h4>
            <p>Fundador & Produtor Musical<br />Apaixonado pela música, estou sempre em busca de prover experiências marcantes.</p>
            <ul>
              <li><i class="icon-envelope-alt"></i> <a href="info@email.com">limass.tl@gmail.com</a></li>
            </ul>
          </div>
          <div class="span4 team2">
            <img class="pull-left" src="{{ STATIC_URL }}assets/img/founder_osmar.png" alt="City Manager">
            <h4>Osmar Rocha</h4>
            <p>Fundador, Comercial & Criação<br />Atuo no relacionamento com clientes para alcançar a experiência perfeita com nossos produtos.</p>
            <ul>
              <li class="social">
                <a href="#about"><i class="icon-facebook-sign"></i></a>
                <a href="#about"><i class="icon-twitter"></i></a>
                <a href="#about"><i class="icon-github-sign"></i></a>
              </li>
            </ul>
          </div>
          <div class="span4">
            <img class="pull-left" src="{{ STATIC_URL }}assets/img/founder_horacio.png" alt="CTO & Developer">
            <h4>Horacio Ibrahim</h4>
            <p>CTO & Developer<br /> Participo ativamente de startups prestando consultoria no bootstraping e modelagem de negócios.</p>
            <ul class="social-line">
              <li class="social">
                <a href="https://twitter.com/horacioibrahim"><i class="icon-twitter"></i></a>
                <a href="http://br.linkedin.com/in/horacioibrahim"><i class="icon-linkedin"></i></a>
              </li>              
            </ul>
          </div>          
        </div>
      </div>


      <!-- Contact Us -->
    <div id="contact" class="page color-2">
        <div class="inner-page">
          <h2 class="page-headline">Entre em contato e fique atualizado</h2>
        </div>
        <div class="row-fluid inner-page contact">
          <div class="span6">
            <h3>Quer mais? Agora conte sua história!</h3>
            <form method="post">
              {% csrf_token %}
            <input type="hidden" name="form-type" value="contato" />
            <textarea rows="6" name="mensagem" placeholder="Sua história"></textarea>
            <input type="text" name="email" placeholder="seunome@example.com"><br>
            <input type="text" name="nome" placeholder="Nome"><br>
            <button class="btn btn-centered">Enviar mensagem</button>
          </form>
          </div>
          <div class="span6">
            <div class="btn-container centered lazy-container text-center loaded">
              <img src="{{ STATIC_URL }}assets/img/map.png" class="lazy figurette" alt="Open the map" data-original="{{ STATIC_URL }}assets/img/map.png" style="display: inline;">
              <a class="lightbox iframe  btn-map" target="blank" title="Open google maps" href="https://maps.google.com/maps?q=Qd+44,+Setor+Leste,+Gama,+Brasilia,+Federal+District,+Brazil&amp;hl=en">
                <div>Qd 44 Setor Leste, Gama, <br>Brasília, DF</div></a>
            </div>
          </div>
        </div>
      </div>

      <!-- The footer, social media icons, and copyright -->        
      <footer class="page color-5">
        <div class="inner-page row-fluid">
          <div class="span6 social">
            <a href="http://soundcloud.com/sobmedyda" alt="Soundcloud.com/sobmedyda"><i class="icon-cloud"></i></a>
          </div>
          <div class="span6 text-right copyright">
            © 2013 <a href="http://www.sobmedyda.com.br" title="SobMedyda Jingles">SobMedyda</a> | all rights reserved |  <a href="#top" title="Got to top" class="scroll">Topo <i class="icon-caret-up"></i></a>
          </div>
        </div>
      </footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44519631-1', 'sobmedyda.com.br');
  ga('send', 'pageview');
</script>  

</body>
</html>