/*

Custom attributes 

*/


#home {
	background: url('../img/mixing_board.jpg');
	background-position: center top;
}

#contact h1, #contact h2, #contact h3, #contact h4, #contact h5, #contact h6, .newsletter h4 {
	color: #fff;
}

.social i:hover, .social a:hover {
	color: #D95C5C;
}

.list-inline li {
	padding-right: 0px;
}

.clients li {
	background: none;
	width: 25%;
	padding: 0px !important;
	margin-bottom: 0px;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	-o-transition: background 0.6s;
	transition: background 0.6s;
}

.color-4 a {
	color: #D95C5C;
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
	background: #D95C5C;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus, .color-2 {
	background: #D95C5C;
}

.active .brand-2, .brand-2:hover, .brand-1:hover {
	background-color: #D95C5C !important;
	color: #fff !important;
}

.logo {
	position: absolute;
	top: 20px;
	left: 150px;
	z-index: 1000;
}

textarea, input {
	border: 1px solid #ca5c5c  ;
	outline-color: #ca5c5c  ;
}

.color-1 {
	background: #ca5c5c;
	color: #ffffff;
}

.navbar {
	z-index: 999;
}

.page-headline {
	margin-top: 50px;
}

.btn {
	background: #5BBD72 !important;
}

.features li i {
	color: #D95C5C !important;
}

ul.social-line {
	margin: 0;
}
ul.soundcloud li {
	margin-bottom: 10px;
}
.btn-map div {
	background-color: #D95C5C !important;
	color: #fff;
}